# Configuration Supabase Cloud
# Remplacez les valeurs ci-dessous par les identifiants de votre projet Supabase

EXPO_PUBLIC_SUPABASE_URL=https://sjjtixlgmuxycqvgbivp.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_CjCXrPrCSKbiGlDDRlURGA_CLIoriAA
